<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    [템플릿 설명]
    - 해당 파일은 SQL 문을 작성하는 곳입니다.
-->
<mapper namespace="com.example.mybatis.mapper.BoardMapper">

    <select id="selectBoardList" resultType="com.example.mybatis.mapper.Board">
        SELECT uid,
               subject,
               contents,
               name,
               viewcnt,
               regdate
        FROM Board;
    </select>

    <select id="selectBoardById" resultType="com.example.mybatis.mapper.Board">
        SELECT uid,
               subject,
               contents,
               name,
               viewcnt,
               regdate
        FROM Board
        WHERE uid = #{id}
    </select>

    <insert id="insertBoard" parameterType="com.example.mybatis.mapper.Board">
        INSERT INTO Board(uid, subject, contents, name, viewcnt, regdate)
        values (#{uid}, #{subject}, #{contents}, #{name},#{viewcnt}, #{regdate});
    </insert>

    <update id="updateBoard" parameterType="com.example.mybatis.mapper.Board">
        UPDATE Board
        SET subject= #{subject}
          , contents = #{contents}
          , name = #{name}
          , viewcnt = #{viewcnt}
          , regdate = #{regdate}
        WHERE uid = #{uid}
    </update>

    <!--테이블 row delete-->
    <delete id="deleteBoardById">
        DELETE
        FROM Board
        WHERE uid = #{boardId}
    </delete>

</mapper>